$light-primary: #bb9e80;
$light-secondary: #15a098;

$light-bg: #fff;
$light-contrast: #40474f;

$light-text-normal: #000;
$light-text-disabled: #888;
$light-text-contrast: #000;

$dark-primary: #54a3fd;
$dark-secondary: #F7931E;

$dark-bg: rgb(14, 13, 17);
$dark-contrast: #40474f;

$dark-text-normal: #fff;
$dark-text-disabled: #AAA;
$dark-text-contrast: #F7931E;