@use './config/variables';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  // background-color: variables.$dark-bg;
  // color: variables.$dark-text-normal;
}

ul,
ol {
  padding: 0px 25px !important;
}
