// override CSS reset from chakra
@use '_styles/config/variables';

ul,
ol {
  padding: 0px 25px;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  padding-block: 1ch;
}

h2 {
  border-bottom: 5px solid variables.$dark-text-contrast;
  margin-block: 1rem;
  font-weight: 700;
}
