.magic {
  width: 1rem;
  height: 1rem;
  animation-name: magic-frames;
  animation-iteration-count: infinite;
  animation-duration: 15000ms;
  animation-timing-function: ease-out;
}

.magic-container {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
}

.magic-row {
  width: 19rem;
  height: 1rem;
  display: flex;
  flex-direction: row;
}

@keyframes magic-frames {
  0% {
    transform: rotate(0deg);
    width: 1rem;
    height: 1rem;
    border-radius: 1px;
  }
  
  10% {
    transform: rotate(0deg);
    width: 1rem;
    height: 1rem;
    border-radius: 1px;
  }
  
  20% {
    transform: rotate(0deg);
    width: 0.1rem;
    height: 1rem;
    border-radius: 1px;
  }
  
  30% {
    transform: rotate(0deg);
    width: 0.1rem;
    height: 1rem;
    border-radius: 1px;
  }
  
  40% {
    transform: rotate(90deg);
    width: 0.1rem;
    height: 1rem;
    border-radius: 1px;
  }
  
  50% {
    transform: rotate(90deg);
    width: 0.1rem;
    height: 1rem;
    border-radius: 1px;
  }
  
  60% {
    transform: rotate(90deg);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
  
  70% {
    transform: rotate(90deg);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
  
  80% {
    transform: rotate(0deg);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  
  90% {
    transform: rotate(0deg);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  
  100% {
    transform: rotate(0deg);
    width: 1rem;
    height: 1rem;
    border-radius: 1px;
  }
}